figure img{
    width:250px;
    height:250px;
    display:block;
    margin: 0 auto;
}


figure {

    text-align: left; 
    display : inline-block;
    margin:0;
    border:3px solid #60c0bc;
    background-color:lightgray;
}

.left {
    width: 40%;
    padding: 5px;
    float: left;
}

figcaption {
    margin-top: 0px;
    
}

.right {
    width: 40%;
    padding: 5px;
    float: right;
}

.wrapper::after {
    content: "";
    display: table;
    clear: both;
}
@media screen and (max-width: 770px) {
    form{
        width:100%;
    }
}
@media screen and (max-width: 590px) {
    navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 15px;
    }

    .navbar img {
        align-self: center;
        height: 40px; /* Adjust size for smaller screens */
        margin-bottom: 10px;
    }

    .navbar ul {
        display: none;
        width: 100%;
        text-align: left;
        padding: 0;
    }

    .navbar li {
        display: none;
        margin-right: 0;
        margin-bottom: 10px;
    }

    .hamburger {
        display: block;
    }

    .wrapper {
        padding: 10px;
    }

    .col {
        width: 100%;
        margin-bottom: 20px;
    }

    header h1 {
        font-size: 24px;
        text-align: center;
    }

}